<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    
                    <span class="caption-subject font-blue-madison bold uppercase"><i class="icon-globe"></i> MIS DATOS</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Informacion personal</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Cambiar foto</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Cambiar clave</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_4" data-toggle="tab">Configuracion</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">Nombres</label>
                                <input type="text" placeholder="" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">Apellidos</label>
                                <input type="text" placeholder="" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label"># Telefono</label>
                                <input type="text" placeholder="" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">Interests</label>
                                <input type="text" placeholder="" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">Occupation</label>
                                <input type="text" placeholder="" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">About</label>
                                <textarea class="form-control" rows="3" placeholder=""></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Website Url</label>
                                <input type="text" placeholder="" class="form-control" /> 
                            </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze"> Grabar cambios</a>
                                <a href="#" class="btn default"> Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <p> Selecciona una imagen para cargar a su perfil:</p>
                        <form action="#"
                            role="form">
                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new"> Seleccionar imagen</span>
                                            <span class="fileinput-exists"> Cambiar</span>
                                            <input type="file" name="..."> </span>
                                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput"> Eliminar</a>
                                    </div>
                                </div>
                                <div class="clearfix margin-top-10">
                                </div>
                            </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Grabar cambios </a>
                                <a href="#" class="btn default"> Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Clave actual</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Clave nueva</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Reingrese clave</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Cambiar clave </a>
                                <a href="#" class="btn default"> Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    <!-- PRIVACY SETTINGS TAB -->
                    <div class="tab-pane" id="tab_1_4">
                        <form action="#">
                            <table class="table table-light table-hover">
                                <tr>
                                    <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option1" /> Yes </label>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option2" checked/> No </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                            </table>
                            <!--end profile-settings-->
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Grabar cambios</a>
                                <a href="#" class="btn default"> Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->
                </div>
            </div>
        </div>
    </div>
</div>