<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">
                        <div class="caption">
                            
<!--                            <span class="caption-helper">PROJECT:</span> 
-->                            <span class="caption-subject font-green bold uppercase"><i class="icon-bar-chart font-green"></i> REPORTES</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn green" href="#" data-toggle="dropdown" dropdown-menu-hover data-close-others="true"> MOSTRAR <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#"> Tickets<span class="badge badge-danger"> 4 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Servicios
                                            <span class="badge badge-success"> 12 </span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end PROJECT HEAD -->
                    <div class="portlet-body">
                        <div class="row">
                        
                            	<!-- BEGIN TODO SIDEBAR -->
                                <!--<div class="todo-ui">
                                    <div class="todo-sidebar">
                                            
                                                <div class="todo-project-list">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li>
                                                            <a href="#">
                                                                <span class="badge badge-success"> 6 </span> Tickets de recarga</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="badge badge-info"> 2 </span> Servicios de movilidad</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                    </div>
                            	</div>-->
                        
                        
                            <div class="col-md-12">
                                <div style="min-height: 600px;">
                                    <div class="todo-tasklist">
                                        <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar4.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Slider Redesign </div>
                                            <div class="todo-tasklist-item-text"> Lorem dolor sit amet ipsum dolor sit consectetuer dolore. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 21 Sep 2014 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Urgent</span>
                                            </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar5.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Homepage Alignments to adjust </div>
                                            <div class="todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer dolore dolor sit amet. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 14 Sep 2014 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Important</span>
                                            </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar9.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Slider Redesign </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 10 Feb 2015 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Important</span>&nbsp; </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-blue">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar6.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Contact Us Map Location changes </div>
                                            <div class="todo-tasklist-item-text"> Lorem ipsum amet, consectetuer dolore dolor sit amet. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 04 Oct 2014 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Postponed</span>&nbsp;
                                                <span class="todo-tasklist-badge badge badge-roundless">Test</span>
                                            </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-purple">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar7.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Projects list new Forms </div>
                                            <div class="todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer dolore psum dolor sit. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 19 Dec 2014 </span>
                                            </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-yellow">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar8.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> New Search Keywords </div>
                                            <div class="todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer sit amet ipsum dolor, consectetuer ipsum consectetuer sit amet dolore. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 02 Feb 2015 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Postponed</span>&nbsp; </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar9.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Slider Redesign </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 10 Feb 2015 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Important</span>&nbsp; </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar5.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Homepage Alignments to adjust </div>
                                            <div class="todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer dolore psum dolor sit. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 14 Sep 2014 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Important</span>
                                            </div>
                                        </div>
                                        <div class="todo-tasklist-item todo-tasklist-item-border-blue">
                                            <img class="todo-userpic pull-left" src="{{settings.assetsPath}}/pages/media/users/avatar6.jpg" width="27px" height="27px">
                                            <div class="todo-tasklist-item-title"> Contact Us Improvement </div>
                                            <div class="todo-tasklist-item-text"> Lorem ipsum amet, psum dolor sit consectetuer dolore. </div>
                                            <div class="todo-tasklist-controls pull-left">
                                                <span class="todo-tasklist-date">
                                                    <i class="fa fa-calendar"></i> 21 Feb 2015 </span>
                                                <span class="todo-tasklist-badge badge badge-roundless">Postponed</span>&nbsp;
                                                <span class="todo-tasklist-badge badge badge-roundless">Primary</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TODO CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTENT-->
<script>
    AppTodo2.init(); // init todo page
</script>