<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Inicio</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a ui-sref="private.listar_mantenimientos_componentes">Componentes</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Listar componentes </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<!--<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze bold">
                        <span data-counter="counterup" data-value="7800">2</span>
                    </h3>
                    <small>SERVICIOS EN EJECUCION</small>
                </div>
                <div class="icon">
                    <i class="fa fa-pie-chart"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp bold">
                        <span data-counter="counterup" data-value="1349">4</span>
                    </h3>
                    <small>SERVICIOS FINALIZADOS</small>
                </div>
                <div class="icon">
                    <i class="fa fa-pie-chart"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp bold">
                        <span data-counter="counterup" data-value="567">2</span>
                    </h3>
                    <small>VEHICULOS DISPONIBLES</small>
                </div>
                <div class="icon">
                    <i class="fa fa-bus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft bold">
                        <span data-counter="counterup" data-value="276">5.0</span>
                    </h3>
                    <small>CALIFICACION PROMEDIO</small>
                </div>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Listado de Componentes de Sistemas</div>
                    <div class="tools">
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="javascript:;" class="reload"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="#/private/registrar_mantenimiento_componente/nuevo" class="btn btn-warning"><i class="fa fa-plus"></i> Registrar componente de sistema </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="datatable_mantenimiento_componentes">
                        <thead>
                            <tr>
                                <th width="2%"># ID</th>
                                <th> Codigo </th>
                                <th> Nombre de componente </th>
                                <th> Sistema </th>
                                <th> Estado</th>
                                <th width="8%"> </th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
                                        </div>



<!-- END MAIN CONTENT -->
<script>
    //ComponentsFormTools.init(); // init todo page
</script>