<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Inicio</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a ui-sref="private.listar_recargas">Combustible</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Registrar recarga</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i> REGISTRO DE RECARGA DE COMBUSTIBLE</div>
                    
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <h3 class="form-section font-lg sbold">Información general</h3>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Vehiculo</label>
                                        <div class="col-md-9">
                                            <select class="bs-select form-control" data-style="btn-success">
                                                <option value="NISSAN FRONTIER | SDF-2345">NISSAN FRONTIER | SDF-763</option>
                                                <option value="NISSAN FRONTIER | SDF-2345">NISSAN FRONTIER | DFG-345</option>
                                                <option value="NISSAN FRONTIER | SDF-2345">NISSAN FRONTIER | HSA-523<option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Chofer</label>
                                        <div class="col-md-9">
                                            <select class="bs-select form-control" data-style="btn-success">
                                                <option value="Chofer 1">Chofer 1</option>
                                                <option value="Chofer 2">Chofer 2</option>
                                                <option value="Chofer 3">Chofer 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
              
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Proveedor</label>
                                        <div class="col-md-9">
                                            <select class="bs-select form-control" data-style="btn-success">
                                                <option value="Aba Singer S.A.C.">Aba Singer S.A.C.</option>
                                                <option value="REPSOL">REPSOL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Estacion servicio</label>
                                        <div class="col-md-9">
                                            <select class="bs-select form-control" data-style="btn-success">
                                                <option value="Grifo Caceres">Grifo Caceres</option>
                                                <option value="Grifo Lupita">Grifo Lupita</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
              
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Fecha recarga</label>
                                        <div class="col-md-4">
                                            <div class="input-group input-small date date-picker" data-date-format="dd/mm/yyyy">
                                                <input type="text" class="form-control" readonly>
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Hora recarga</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control timepicker timepicker-no-seconds">
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-clock-o"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
              
                            </div>
                            
                            <h3 class="form-section font-lg sbold">Información adicional</h3>
                            
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Codigo</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">N&deg; Cuenta</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">N&deg; Vale</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">N&deg; Ticket</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
              
                            </div>
                            
                            <h3 class="form-section font-lg sbold">Información del producto</h3>
                            
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Combustible</label>
                                        <div class="col-md-7">
                                            <select class="bs-select form-control" data-style="btn-success">
                                                <option value="GASOHOL 95">GASOHOL 95</option>
                                                <option value="GASOHOL 95">GASOHOL 97</option>
                                                <option value="GASOHOL 95">DB5 PETROLEO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Cantidad</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" placeholder="1.8521">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Precio unitario</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="12.34">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Kiometraje</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
              
                            </div>
                            
                             <h3 class="form-section font-lg sbold">Vouchers o comprobantes de la recarga</h3>
                             
                             
                             
                             <div class="row" ng-controller="FileUploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    
                                <div class="col-md-12">
                                    <!-- BEGIN: ACCORDION DEMO -->
<!--                                    <div class="portlet box blue-hoki">
-->                            
                                        <!--<div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-settings"></i>
                                                <span class="caption-subject ">Adjuntar documentos a la recarga</span>
                                                <span class="caption-helper">Cantidad de cola: {{ uploader.queue.length }}</span>
                                            </div>
                                            
                                        </div>
                                        <div class="portlet-body">-->
                                        
                                            
                                            
                                            <div ng-show="uploader.isHTML5">
                                                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                                <div class="file-drop-zone margin-bottom-20" nv-file-over="" uploader="uploader" over-class="file-drop-zone-over"> Puede arrastrar y soltar archivos en esta zona para adjuntar a la recarga... o presione el boton "Elegir archivos" de la parte inferior.</div>
                                                <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"
                                                <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                                    <div nv-file-over="" uploader="uploader" over-class="file-drop-zone-over" class="file-drop-zone margin-bottom-20"> Another drop zone with its own settings </div>
                                                </div> -->
                            
                                                <input type="file" nv-file-select="" uploader="uploader" multiple />
                                                
                                            </div>
                                            
                                            <div class="table-scrollable table-scrollable-borderless">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr class="uppercase">
                                                            <th width="50%">Archivo</th>
                                                            <th ng-show="uploader.isHTML5">Tamaño</th>
                                                            <th ng-show="uploader.isHTML5">Progreso</th>
                                                            <th>Estado</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in uploader.queue">
                                                            <td>
                                                                <strong>{{ item.file.name }}</strong>
                                                            </td>
                                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                            <td ng-show="uploader.isHTML5">
                                                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <span ng-show="item.isSuccess" class="text-success">
                                                                    <i class="glyphicon glyphicon-ok"></i>
                                                                </span>
                                                                <span ng-show="item.isCancel" class="text-info">
                                                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                                                </span>
                                                                <span ng-show="item.isError" class="text-danger">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </span>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                    <span class="glyphicon glyphicon-upload"></span> Subir </button>
                                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar </button>
                                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                    <span class="glyphicon glyphicon-trash"></span> Borrar </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <p>Progreso de cola:</p>
                                                <div class="progress progress-sm" style="">
                                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="glyphicon glyphicon-upload"></span> Subir todos</button>
                                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todos </button>
                                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                <span class="glyphicon glyphicon-trash"></span> Borrar todos</button>
                                        
                                        
<!--                                        </div>
                                     
                                        
                                        
                                    </div>-->   
                                    <!-- END: ACCORDION DEMO -->
                                </div>
                            </div>
                            <!-- END: ROW UPLOAD -->
                               
                        </div>
                        
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-12">
                                    <button type="submit" class="btn green">
                                        <i class="fa fa-check"></i> Grabar</button>
                                    <button type="button" class="btn default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    <!-- END FORM-->
                </div>
                
      </div>
                                                            
      <!-- END PORTLET-->
  </div>
</div>





<!-- END MAIN CONTENT -->
<script>
    function FileUploadCtrl($scope, FileUploader)
    {
        var uploader = $scope.uploader = new FileUploader(
        {
            url: 'assets/global/plugins/angularjs/plugins/angular-file-upload/upload.php'
        });
        // FILTERS
        uploader.filters.push(
        {
            name: 'customFilter',
            fn: function(item /*{File|FileLikeObject}*/ , options)
            {
                return this.queue.length < 10;
            }
        });
        // CALLBACKS
        uploader.onWhenAddingFileFailed = function(item /*{File|FileLikeObject}*/ , filter, options)
        {
            console.info('onWhenAddingFileFailed', item, filter, options);
        };
        uploader.onAfterAddingFile = function(fileItem)
        {
            console.info('onAfterAddingFile', fileItem);
        };
        uploader.onAfterAddingAll = function(addedFileItems)
        {
            console.info('onAfterAddingAll', addedFileItems);
        };
        uploader.onBeforeUploadItem = function(item)
        {
            console.info('onBeforeUploadItem', item);
        };
        uploader.onProgressItem = function(fileItem, progress)
        {
            console.info('onProgressItem', fileItem, progress);
        };
        uploader.onProgressAll = function(progress)
        {
            console.info('onProgressAll', progress);
        };
        uploader.onSuccessItem = function(fileItem, response, status, headers)
        {
            console.info('onSuccessItem', fileItem, response, status, headers);
        };
        uploader.onErrorItem = function(fileItem, response, status, headers)
        {
            console.info('onErrorItem', fileItem, response, status, headers);
        };
        uploader.onCancelItem = function(fileItem, response, status, headers)
        {
            console.info('onCancelItem', fileItem, response, status, headers);
        };
        uploader.onCompleteItem = function(fileItem, response, status, headers)
        {
            console.info('onCompleteItem', fileItem, response, status, headers);
        };
        uploader.onCompleteAll = function()
        {
            console.info('onCompleteAll');
        };
        console.info('uploader', uploader);
    };
	
	ComponentsBootstrapSelect.init(); // init todo page
	
	ComponentsDateTimePickers.init(); 
	
</script>