<!-- BEGIN PAGE BREADCRUMB -->

<ul class="page-breadcrumb breadcrumb">
  <li> <a ui-sref="dashboard">Inicio</a> <i class="fa fa-circle"></i> </li>
  <li> <a ui-sref="private.listar_mantenimiento_servicios">Servicios</a> <i class="fa fa-circle"></i> </li>
  <li class="active"> Registrar sistema de vehiculo</li>
</ul>
<!-- END PAGE BREADCRUMB --> 
<!-- BEGIN MAIN CONTENT -->

<div class="row">
  <div class="col-md-12"> 
    <!-- BEGIN PORTLET-->
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-gift"></i> Registrar servicio de sistema</div>
        <!--<div class="actions">
                        <a class="btn btn-primary btn-success"><i class="fa fa-check"></i> Grabar </a>
                        <a ui-sref="private.listar_marcas" class="btn btn-primary btn-danger grabar"><i class="fa fa-times"></i> Cancelar </a>
                    </div>--> 
      </div>
      <div class="portlet-body form"> 
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal" id="form">
          <div class="form-body">
            <div class="alert alert-danger display-hide">
              <button class="close" data-close="alert"></button>
              Compruebe que todos los campos esten completos para poder grabar. </div>
            <h3 class="form-section font-lg sbold">Información general: </h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Sistema del servicio</label>
                  <div class="col-md-8">
                    <select tabindex="1" class="bs-select form-control" tabindex="1" data-style="btn-info" id="idmantenimiento_sistemas" 
                                                name="idmantenimiento_sistemas" data-live-search="true" data-size="8">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label col-md-3">Nombre del servicio</label>
                  <div class="col-md-9">
                    <input tabindex="2" type="text" class="form-control" tabindex="2" id="nombre_servicio" name="nombre_servicio">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label col-md-6">Codigo servicio</label>
                  <div class="col-md-6">
                    <input tabindex="3" type="text" class="form-control" tabindex="2" id="cod_servicio" name="cod_servicio">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label col-md-2">Descripcion del servicio</label>
                  <div class="col-md-10">
                    <input tabindex="4" type="text" class="form-control" tabindex="2" id="descripcion_servicio" name="descripcion_servicio">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Estado del servicio</label>
                  <div class="col-md-4">
                    <select tabindex="5" class="bs-select form-control" data-style="btn-info" tabindex="6" id="estado_servicio" name="estado_servicio">
                    <option value="">Seleccione</option>
                    <option value="1">ACTIVO</option>
                    <option value="0">INACTIVO</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="form-section font-lg sbold">Información de tipo de servicio: </h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Tipo servicio</label>
                  <div class="col-md-8">
                    <select tabindex="6" class="bs-select form-control" data-style="btn-info" tabindex="6" id="idmantenimiento_tipos_servicios" name="idmantenimiento_tipos_servicios">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div id="extras_mantenimiento_preventivo" class="hide">
              <h3 class="form-section font-lg sbold">Configuracion de alerta para este servicio:</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label col-md-4">Aplicar a los siguientes <br />
                          modelos de vehiculo</label>
                        <div class="col-md-8">
                          <table class="table table-striped table-bordered table-hover" width="100%" id="datatable_modelos">
                            <thead>
                              <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th width="20"> Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label col-md-4">Modelo de vehiculo</label>
                        <div class="col-md-8">
                          <select class="bs-select form-control margin-bottom-10" id="idmodelos_vehiculos" 
                                                                                    name="idmodelos_vehiculos" data-style="btn-info"
                                                                                    data-live-search="true" data-size="8">
                            <option value="">Seleccione una modelo</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-8"> <a href="#" id="agregar_modelo" class="btn btn-default btn-success"><i class="fa fa-plus"></i> Agregar </a> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label col-md-4">Ciclo de alerta</label>
                        <div class="col-md-8">
                          <input tabindex="8" id="ciclo_alerta" class="col-md-3" type="text" value="0" name="ciclo_alerta">
                          <span class="help-block text-danger helper hide">
                          <h6>El ciclo de alerta debe ser mayor a 0.</h6>
                          </span> </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label col-md-4">Unidad de Ciclo</label>
                        <div class="col-md-8">
                          <select tabindex="10" class="bs-select form-control" tabindex="1" data-style="btn-info" id="id_medida_uso" name="id_medida_uso">
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label col-md-4">Ejecución de alerta en</label>
                        <div class="col-md-8">
                          <input tabindex="11" id="ejecucion_alerta" name="ejecucion_alerta" type="text" />
                          <span class="help-block text-danger helper hide">
                          <h6>La ejecución de alerta debe ser mayor a 1.</h6>
                          </span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- END: ROW UPLOAD --> 
            
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-12 text-right">
                <button type="submit" tabindex="7" id="grabar" class="btn green grabar"><i class="fa fa-check"></i> Grabar</button>
                <a ui-sref="private.listar_mantenimiento_servicios" class="btn btn-primary btn-danger"><i class="fa fa-times"></i> Cancelar </a>
                <input type="hidden" name="usuario_creacion" value="{{settings.usuario}}"/>
                <input type="hidden" name="usuario_modificacion" value="{{settings.usuario}}"/>
              </div>
            </div>
          </div>
        </form>
        <!-- END FORM--> 
      </div>
    </div>
    
    <!-- END PORTLET--> 
  </div>
</div>
