<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Inicio</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a ui-sref="private.listar_mantenimiento_componentes">Componentes</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Registrar componente de sistema</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-gift"></i> Registrar componente de sistema</div>
                    <!--<div class="actions">
                        <a class="btn btn-primary btn-success"><i class="fa fa-check"></i> Grabar </a>
                        <a ui-sref="private.listar_marcas" class="btn btn-primary btn-danger grabar"><i class="fa fa-times"></i> Cancelar </a>
                    </div>-->
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal" id="form">
                        <div class="form-body">

                           <div class="alert alert-danger display-hide">
                                 <button class="close" data-close="alert"></button> Compruebe que todos los campos esten completos para poder grabar. 
                           </div>
                        
                            <h3 class="form-section font-lg sbold">Información general: </h3>

							<div class="row">
                            
                            	<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Sistema del componente</label>
                                        <div class="col-md-7">
                                            <select tabindex="1" class="bs-select form-control" tabindex="1" data-style="btn-info" id="idmantenimiento_sistemas" 
                                                name="idmantenimiento_sistemas" data-live-search="true" data-size="8">
                                            </select> 
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
							
                            <div class="row">
                            
                            	<div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nombre de componente</label>
                                        <div class="col-md-9">
                                            <input tabindex="2" type="text" class="form-control" tabindex="2" id="nombre_componente" name="nombre_componente">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">N&deg; Parte</label>
                                        <div class="col-md-8">
                                            <input tabindex="3" type="text" class="form-control" tabindex="2" id="cod_componente" name="cod_componente">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                             <div class="row"> 
                               
                                
                            
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Estado componente</label>
                                        <div class="col-md-3">
                                            <select tabindex="4" class="bs-select form-control" data-style="btn-info" tabindex="6" id="estado_componente" name="estado_componente">
                                            	<option value="">Seleccione</option>
                                                <option value="1">ACTIVO</option>
                                                <option value="0">INACTIVO</option>
                                            </select> 
                                        </div>
                                    </div>
                                </div>                                
                                
                            </div>

                            <!-- END: ROW UPLOAD -->
                               
                        </div>
                        
                        <div class="form-actions">
                            <div class="row">
                            
                                <div class="col-md-12 text-right">
                                    <button type="submit" id="grabar" tabindex="5" class="btn green grabar"><i class="fa fa-check"></i> Grabar</button>
                        			<a ui-sref="private.listar_mantenimiento_componentes" class="btn btn-primary btn-danger"><i class="fa fa-times"></i> Cancelar </a>
                                    <input type="hidden" name="usuario_creacion" value="{{settings.usuario}}"/>
                                    <input type="hidden" name="usuario_modificacion" value="{{settings.usuario}}"/>
                                </div>
                                
                            </div>
                        </div>
                        
                    </form>
                    <!-- END FORM-->
                </div>
                
      </div>
                                                            
      <!-- END PORTLET-->
  </div>
</div>

