<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body bgcolor="#ecf0f1">
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="10">
  <tr>
    <td colspan="6" align="center"><img src="https://www.sierraexportadora.gob.pe/siscar/images/ico-siscar.jpg" /></td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center">Ha sido registrado como comisionado para el siguiente servicio: xxxxx</td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><h4>FECHAS DEL SERVICIO</h4></td>
  </tr>
  <tr>
    <td colspan="6">
    	
    </td>
  </tr>
  <tr>
    <td><strong>Fecha de Inicio:</strong></td>
    <td>inicioxxxxx</td>
    <td><strong>Fecha de Fin:</strong></td>
    <td>finxxxxxx</td>
    <td><strong>Es ida y vuelta:</strong></td>
    <td>idavueltaxxxxxx</td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><h4> TIPO DE SERVICIO</h4></td>
  </tr>
  <tr>
    <td><strong>Area solicitante:</strong></td>
    <td>areaxxxxx</td>
    <td><strong>Quien solicita:</strong></td>
    <td>solicitaxxxxxx</td>
    <td><strong>Tipo de vehiculo:</strong></td>
    <td>tipovexxxxxx</td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><h4>UBICACION DEL SERVICIO</h4></td>
  </tr>
  <tr>
    <td><strong>Departamento: </strong></td>
    <td>departamentoxxxx</td>
    <td><strong>Provincia:</strong></td>
    <td>provinciaxxxx</td>
    <td><strong>Distrito:</strong></td>
    <td>distritoxxxxx</td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Lugar destino:</strong></td>
    <td>lugarxxxxx</td>
    <td><strong>Direccion</strong>:</td>
    <td>direccionxxxxx</td>
    <td><strong>Motivo comision:</strong></td>
    <td>motivoxxxxx</td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><h4>COMISIONADOS</h4></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Usuario(s):</strong></td>
    <td colspan="5">usuarioxxxxxx</td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
</table>
</body>
</html>
