<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">ASIGNAR TICKETS A FACTURA</h4>
</div>
<div class="modal-body">
    
     <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-3">Factura</label>
                <div class="col-md-9">
                    <select class="bs-select form-control" data-style="btn-success">
                        <option value="210-000044">210-000044</option>
                        <option value="210-000045">210-000045</option>
                        <option value="210-000046">210-000046</option>
                        <option value="210-000047">210-000047</option>
                    </select>
                </div>
            </div>
         </div>
     </div>
    <div class="row">
    	<div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>  </th>
                        <th> Vehiculo</th>
                        <th> Tarjeta</th>
                        <th> Total </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" checked="checked" value="1">
                                        <span></span>
                                    </label> </td>
                        <td> NISSAN FRONTIER | ASD-324</td>
                        <td> 2367 </td>
                        <td> S/82.50 </td>
                    </tr>
                    <tr>
                        <td> <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" checked="checked" value="1">
                                        <span></span>
                                    </label> </td>
                        <td> NISSAN FRONTIER | ASD-324 </td>
                        <td> 6578 </td>
                        <td> S/82.50 </td>
                    </tr>
                    <tr>
                        <td> <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" checked="checked" value="1">
                                        <span></span>
                                    </label> </td>
                        <td> NISSAN FRONTIER | ASD-324 </td>
                        <td> 2346 </td>
                        <td> S/82.50 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
        <div>
            <ul class="pagination">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"> 1 </a>
                </li>
                <li>
                    <a href="javascript:;"> 2 </a>
                </li>
                <li class="active">
                    <a href="javascript:;"> 3 </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    
    
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn blue">Grabar</button>
</div>