<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header"> </div>
            <!-- END HEADER -->
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN PAGE HEAD -->
                <div data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE CONTENT -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN ACTUAL CONTENT -->
                        <div ui-view class="fade-in-up"> </div>
                        <!-- END ACTUAL CONTENT -->
                    </div>
                </div>
                <!-- END PAGE CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
                <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <!-- BEGIN FOOTER -->
            <div data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController"> </div>
            <!-- END FOOTER -->
        </div>
    </div>
</div>